# PROJECT SPECIFIC
/data/
data/
src/log/

# GENERLA STUFF
.DS_Store

.vim/
.idea/
.vscode/
.dvc/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
Untitled*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

docs/index.md
out_dir

*.zip
*.7z
*.pth
*.onnx
*.pt